.main-content {
    grid-column: 2 / 3;
    padding: 30px;
    overflow-y: auto;
}

.main-content h1 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 500;
}

.full-panel {
    background: var(--bg-card);
    padding: 30px;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    margin-bottom: 25px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="file"],
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 0.95rem; 
    background-color: #fafafa; 
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
    border-color: var(--accent-color); 
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    background-color: var(--bg-card); 
    outline: none;
}

.content-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
    margin-bottom: 40px;
}

main {
    width: 1000px;
    margin-inline: auto;
}

.news-title {
    border-bottom: 1px solid #F0F0F0;
    padding-bottom: 20px;
    margin-bottom: 0px;
}
.news-content {
    color: #3D3D3D;
}

.box {
    display: flex;
    align-items: center;
    gap: 15px;
}

.news-author, .news-date, .news-category--details {
    border: 1px solid #E6E6E6;
    border-radius: 8px;
    padding: 8px 16px;
}

.news-image {
    width: 1000px;
    height: 650px;
    border-radius: 24px;
}

.news-image > img {
display: flex;
align-items: center;
justify-content: center;
}
