.logo {
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: -0.5px;
    text-decoration: none;
    color: var(--text-primary);
}

.back-link, .link-text a {
    text-decoration: none;
    color: var(--text-secondary);
    font-size: 0.9rem;
    margin-bottom: 20px;
    display: inline-block;
}

.link-text a {
    color: var(--accent-color);
    font-weight: 600;
}

.back-link:hover, .link-text a:hover {
    text-decoration: underline;
}