/* flex-контейнер */
.map-analytics-layout {
    display: flex;
    gap: 24px;
    margin-top: 16px;
}

/* 3/5 карта */
.map-wrapper {
    flex: 3;
    border-radius: 12px;
    overflow: hidden;
}

/* сама карта */
#map {
    width: 100%;
    height: 500px;
}

/* 2/5 аналитика */
.analytics-wrapper {
    flex: 2;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* секции */
.analytics-section {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.label {
    font-size: 12px;
    color: #9ca3af;
    text-transform: uppercase;
}

.value {
    font-size: 14px;
    line-height: 1.5;
}

.muted {
    color: #6b7280;
}

.primary-btn {
    margin-top: auto;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background: #2563eb;
    color: white;
    cursor: pointer;
}

.primary-btn:disabled {
    background: #374151;
    cursor: not-allowed;
}
